<body>
  <div class="container">
    <!--<router-outlet></router-outlet>-->
    <div class="row">
      <div class="col-md-6">
        <input type="text" class="form-control" type="type" name="name" placeholder="Szukaj" />
      </div>
      <div class="col-md-6">
        <button class="btn btn-primary">Dodaj przegląd</button>
      </div>
    </div>
    <ngx-datatable
      class="bootstrap"
      [rows]="rows"
      [columns]="columns"
      [columnMode]="'force'"
      [headerHeight]="50"
      [rowHeight]="50">
    </ngx-datatable>
  </div>
</body>
