<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img
      src="./assets/inspection.svg"
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt="application-logo"
    />
    EuroSerwis - Przeglądy
  </a>
  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    <li class="nav-item">
      <a class="nav-link" routerLink="/users">
        Użytkownicy
      </a>
    </li>
    <li class="nav-item dropdown">
        <div ngbDropdown placement="bottom-right">
            <a class="nav-link" id="dropdownBasic2" ngbDropdownToggle>Przeglądy</a>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                <button ngbDropdownItem routerLink="/inspections">Wszystkie</button>
                <button ngbDropdownItem routerLink="/inspections/upcoming">Nadchodzące</button>
                <button ngbDropdownItem routerLink="/inspections/done">Wykonane</button>
                <button ngbDropdownItem routerLink="/inspections/undone">Niewykonane</button>
            </div>
        </div>
    </li>
  </ul>
  <button class="btn btn-outline-danger right">Wyloguj</button>
</nav>
