<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="./assets/inspection.svg"
         width="30"
         height="30"
         class="d-inline-block align-top"
         alt="application-logo">
    EuroSerwis - Przeglądy
  </a>
  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    <li class="nav-item">
      <a class="nav-link"
         routerLink=""
         >Wszystkie</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         routerLink="upcoming"
         >Nadchodzące</a>
    </li>
  </ul>
  <button class="btn btn-outline-danger right">Wyloguj</button>
</nav>
<router-outlet></router-outlet>

